<div class="container-profile">
  {{!-- <h1 class="profile-title"> Profile</h1> --}}

  <div class="profile-info">
    <div class="img-container">
      <img class="profile-img" src="{{user.imgUrl}}" alt="profile picture of the user" />
    </div>
    <div class="profile-info-text">
      <p class="profile-text"><b>{{user.name}}</b></p>
      <p class="profile-text"><img class="contact-icon" src="../../images/contact-img/address.svg" width="30">{{user.address}}</p>
      <p class="profile-text"><img class="contact-icon smaller"src="../../images/contact-img/phone-call-svgrepo-com.svg" width="30">{{user.phonenumber}}</p>
      <p class="profile-text"><img class="contact-icon smaller" src="../../images/contact-img/email.svg" width="30">{{user.email}}</p>
      <a class="edit-profile btn" href="/{{user._id}}/edit">Edit Profile</a>
    </div>
  </div>
<section class="animal-grid-sec">
<div class="profile-content">
    {{#if user.adoptionPost}}
      <h2 class="animal-grid-title">Your Adoption Posts</h2>
        <div class="animal-grid">
      {{#each user.adoptionPost}}
        <div class="animal-container">
          <div>
            <img
              class="animal-img-sm"
              src="{{imageUrl}}"
              alt="Photo of a {{species}}"
            />
          </div>
          <div class="animal-content-text">
            <a href="/adoption-post/{{_id}}" class="animal-name-sm">{{name}}</a>
            <span class="animal-character">{{character}}</span>
          </div>
        </div>
      {{/each}}
    {{else}}
      <h2 class="animal-grid-title">Your Favorites</h2>
        <div class="animal-grid">
      {{#each user.favorite}}
         <div class="animal-container">
          <div>
            <img
              class="animal-img-sm"
              src="{{imageUrl}}"
              alt="Photo of a {{species}}"
            />
          </div>
          <div class="animal-content-text">
            <a href="/adoption-post/{{_id}}" class="animal-name-sm">{{name}}</a>
            <span class="animal-character">{{character}}</span>
          </div>
        </div>
      {{/each}}
    {{/if}}
  </div>
  </div>
</section>
</div>