<h1>Profile</h1>
<img src="{{imgUrl}}" alt="" />
<h6>{{user.name}}</h6>
<div>
  <h5>Contact:
    <h6>{{user.email}}</h6>
    <h6>{{user.phonenumber}}</h6>
  </h5>
</div>
<h6>{{user.address}}</h6>
<hr />
<div>
  {{#each user.adoptionPost}}
    <img class="img-adoption-post" src="{{imageUrl}}" alt="Pet photo" />

    <p>{{name}}</p>
    <p>{{age}}</p>
    <p>{{color}}</p>
    <p>{{type}}</p>
    <p>{{species}}</p>
    <p>{{character}}</p>
    <p>{{info}}</p>
    <p>{{breed}}</p>
    <hr />
  {{/each}}
</div>
<div>
  {{#each user.favorite}}
    <img
      class="img-adoption-post"
      src="{{imageUrl}}"
      alt="Favorite pet photo"
    />
    <p>{{name}}</p>
    <p>{{age}}</p>
    <p>{{color}}</p>
    <p>{{type}}</p>
    <p>{{species}}</p>
    <p>{{character}}</p>
    <p>{{info}}</p>
    <p>{{breed}}</p>
  {{/each}}

</div>
<a href="/{{user._id}}/edit">Edit</a>