<h1>Profile</h1>
<img src="{{user.imgUrl}}" alt="" />
<h6>{{user.name}}</h6>
<div>
  <h5>Contact:
    <h6>{{user.email}}</h6>
    <h6>{{user.phonenumber}}</h6>
  </h5>
</div>
<h6>{{user.address}}</h6>
<hr />
{{#each user.adoptionPost}}
  <p>{{name}}</p>
  <p>{{species}}</p>
  <hr />
{{/each}}
<a href="/{{user._id}}/edit">Edit</a>