<main class="container">
  <h1 class="list-header">These
    {{animal.0.species}}s are looking for new homes!</h1>
  <div class="row list-grid">
    {{#each animal}}
      <div class="animal-card">
        <img
          class="animal-img"
          src="{{imageUrl}}"
          alt="Photo of a {{species}}"
        />
        <a href="/adoption-post/{{_id}}" class="animal-name">{{name}}</a>
      </div>
    {{/each}}
  </div>
</main>