<main class="container">
  <h1 class="list-header">Furreal! These furrballs are looking for new homes.</h1>
  <div class="row list-grid">
    {{#each animal}}
      <div class="animal-card">
        <img
          class="animal-img"
          src="{{imageUrl}}"
          alt="Photo of a {{species}}"
        />
        <div class="animal-content-text">

          <a href="/adoption-post/{{_id}}" class="animal-name">{{name}}</a>
          <span class="animal-character">{{character}}</span>
        </div>
      </div>
    {{/each}}
  </div>
</main>