<div class="">
  <div class="row-center">
    <div class="wrapper-border">
      <div class="animal-info-container">
        <div class="animal-img-container">
          <img
            src="{{animal.imageUrl}}"
            alt="Photo of a {{animal.species}}"
            class="img-details-post"
          />
        </div>
        <div class="animal-info-text">
          <h3 class="info-title">{{animal.name}}</h3>
          <p class="info-text"><b> Age:</b> {{animal.age}}</p>
          <p class="info-text"><b>Gender:</b> {{animal.gender}}</p>
          <p class="info-text"><b> Color: </b>{{animal.color}}</p>
          <p class="info-text"><b>Breed: </b>{{animal.breed}}</p>
          <h6 class="info-text"><b>Characteristics:</b></h6>
          <p class="info-text">{{animal.character}}</p>
          {{#if_neq animal.owner._id userId}}
            {{#if_neq animal.favoritedBy userId}}
              <form
                action="/adoption-post/{{animal._id}}/favorite"
                method="POST"
              >
                <button class="btn btn-favorites">
                  <img src="../../images/heart.png" width="20px" alt="" />
                  Add to
                  <span class="green-border">favorites</span>
                </button>
              </form>
            {{/if_neq}}

            {{#if_eq animal.favoritedBy userId}}
              <form
                action="/adoption-post/{{animal._id}}/remove-favorite"
                method="POST"
              >
                <button class="btn btn-favorites">Remove favorite</button>
              </form>
            {{/if_eq}}
          {{/if_neq}}
        </div>

      </div>
      <hr class="divider-details details-page" />
      <div class="animal-about-container">
        <h6 class="animal-about-title">About {{animal.name}}: </h6>
        <p class="animal-about-text">{{animal.info}}</p>
      </div>
      {{#if_neq animal.owner._id userId}}
        <div class="owner-contact-container">
          <h6 class="owner-contact-title">Contact the owner: </h6>
          <p class="owner-contact-text"><b>Name: </b>{{animal.owner.name}}</p>
          <p class="owner-contact-text"><b>E-Mail:
            </b>{{animal.owner.email}}</p>
          <p class="owner-contact-text"><b>Phone-Number:
            </b>{{animal.owner.phonenumber}}</p>
        </div>
      {{/if_neq}}
      {{#if_eq animal.owner._id userId}}
        <div class="edit-delete-btn-container">
          <div>
            <a
              class="btn btn-sm btn-edit"
              href="/adoption-post/{{animal._id}}/edit"
            >Edit Listing</a>
          </div>
          <form action="/adoption-post/{{animal._id}}/delete" method="POST">
            <button class="btn btn-sm btn-delete">Delete Listing</button>
          </form>
        </div>
      {{/if_eq}}
    </div>
  </div>

</div>