{{! things that will be displayed at some point }}
<div>
  <p class="card-text">age: {{animal.age}}</p>
  <p class="card-text">Color: {{animal.color}}</p>
  <p class="card-text">Breed: {{animal.breed}}</p>
  <img src="{{animal.imageUrl}}" alt="Photo of a {{animal.species}}" />
</div>