<div class="container">
  <p class="card-text">Name: {{animal.name}}</p>
  <p class="card-text">Age: {{animal.age}}</p>
  <p class="card-text">Color: {{animal.color}}</p>
  <p class="card-text">Breed: {{animal.breed}}</p>
  <p class="card-text">Species: {{animal.species}}</p>
  <p class="card-text">Character: {{animal.character}}</p>
  <p class="card-text">Info: {{animal.info}}</p>
  <div>
    <img
      src="{{animal.imageUrl}}"
      alt="Photo of a {{animal.species}}"
      class="img-adoption-post"
    />
  </div>
  <a class="btn" href="/adoption-post/{{animal._id}}/edit">Edit</a>
  <form action="/adoption-post/{{animal._id}}/delete" method="POST">
    <button class="btn">Delete</button>
  </form>

  <form action="/adoption-post/{{animal._id}}/favorite" method="POST">
    <button class="btn">HEART ME</button>
  </form>
  <form action="/adoption-post/{{animal._id}}/remove-favorite" method="POST">
    <button class="btn">Remove from favorites</button>
  </form>

</div>