<div class="container">
  <div class="row">
    <div class="col sm-6">
      <form
        action="/adoption-post/{{form._id}}/edit"
        method="POST"
        enctype="multipart/form-data"
      >
        <div class="form-group">
          <label for="name">Animals' Name</label>
          <input
            type="text"
            name="name"
            class="form-control"
            id="name"
            value="{{form.name}}"
            required
          />
        </div>
        <div class="form-group">
          <label for="age">Age</label>
          <input
            type="text"
            name="age"
            class="form-control"
            id="age"
            value="{{form.age}}"
            required
          />
        </div>
        <div class="form-group">
          <label for="character">Character:</label>
          <input
            type="text"
            name="character"
            class="form-control"
            id="character"
            value="{{form.character}}"
            required
          />
        </div>
        <div class="form-group">
          <label for="color">Color</label>
          <input
            type="text"
            name="color"
            class="form-control"
            id="color"
            value="{{form.color}}"
            required
          />
        </div>
        <div class="form-group">
          <label for="breed">Breed:</label>
          <input
            name="breed"
            type="text"
            class="form-control"
            id="breed"
            value="{{form.breed}}"
            required
          />
        </div>
        <div class="form-group">
          <label for="info">About: </label>
          <textarea
            name="info"
            class="form-control"
            id="info"
            rows="5"
            cols="33"
            placeholder="Tell us something about your {{form.species}} and why you want to give them up for adoption. "
            required
          ></textarea>
        </div>
        <div class="form-group">
          <label>Image:
            <input
              type="file"
              name="animal-img"
              class="form-control-file required"
            />
          </label>
        </div>
        <button type="submit" class="btn">Edit</button>
      </form>
    </div>
  </div>
</div>